<div class="content-container">
  <div class="text-content">
    <h1 class="title">Tell us about your place</h1>
      <p class="description">
          In this step, we'll ask you which type of property you have and 
          if guests will book the entire place or just a room. Then let us 
          know the location and how many guests can stay.
      </p>
  </div>
    
  <div class="video-content">
    <video data-testid="video-player" class="v186kq3t dir dir-ltr" autoplay muted crossorigin="anonymous" playsinline preload="auto" style="object-fit: cover;">
      <source type="video/mp4" src="https://stream.media.muscache.com/zFaydEaihX6LP01x8TSCl76WHblb01Z01RrFELxyCXoNek.mp4?v_q=high">
    </video>
  </div>
</div>