/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
.categories-tabs {
  margin-bottom: 20px;
}

.category-image {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.rental-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.rental-card {
  border: 1px solid #ccc;
  padding: 20px;
  width: 200px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.rental-card img.cover-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.rental-card h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.rental-card p {
  margin: 5px 0;
}
